/* importing the main content CSS file for the CRA inventory items */
@import url("./assets/style.css");

@page {
    size: calc(var(--page-width) + 2 * var(--page-bleed)) calc(var(--page-height) + 2 * var(--page-bleed)) !important;
    margin: var(--page-margin-top) var(--page-margin-left) var(--page-margin-top) var(--page-margin-left) !important;
}

/* Styling the metadata container for CRA inventory items */

ul.inventory-list {
    display: block;
    list-style-position: inside;
    list-style-type: none;
    color: black !important;
    font-size: 0.8rem !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 1rem !important;
    margin-botton: 1rem !important;
}

.inventory-list>li {
    display: grid;
    grid-template-columns: 24% 73%;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
    border-bottom: none !important;
    break-inside: auto !important;
    /* Ensure content is not clipped */
    position: relative;
    overflow: visible !important;
}

.inventory-list>li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    /* Thickness of the simulated border */
    background: var(--white-to-primary-gradient-horizontal);
    /* Apply the gradient */
}

.item-metadata>p {
    margin: 0;
    padding: 0;
}

.inventory-list h4 {
    color: black !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    max-width: 100%;
    /* Prevent overflow */
    word-wrap: break-word;
    /* Break long words */
    overflow-wrap: break-word;
}

.item-content {
    width: 100%;
    display: block;
    /* Ensure content is treated as a block */
    font-size: 0.8rem !important;
    padding-left: 1rem;
    word-wrap: break-word !important;
    /* Break long words */
    overflow-wrap: break-word !important;
}

.item-metadata {
    display: block;
    align-self: end;
    text-align: right;
    font-size: 0.6rem !important;
    color: #000;
    padding-bottom: 1rem !important;
}

.item-metadata a {
    word-wrap: break-word !important;
    /* For older browsers */
    overflow-wrap: break-word !important;
    /* Modern browsers */
    word-break: break-all !important;
    /* Break words if necessary */
}
