/* importing the main content CSS file for the CRA inventory items */
@import url("./assets/style.css");

@page {
    size: calc(var(--page-width) + 2 * var(--page-bleed)) calc(var(--page-height) + 2 * var(--page-bleed)) !important;
    margin: var(--page-margin-top) var(--page-margin-left) var(--page-margin-top) var(--page-margin-left) !important;
}

/* Styling the metadata container for CRA inventory items */

ul.inventory-list {
    display: block;
    list-style-position: inside;
    list-style-type: none;
    color: black !important;
    font-size: 0.8rem !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 1rem !important;
    margin-botton: 1rem !important;

}

.inventory-list>li {
    display: grid;
    /* Use CSS Grid for the two-column layout */
    grid-template-columns: 25% 75%;
    /* Define the two columns */
    gap: 1rem;
    /* Add spacing between columns */
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
    border-bottom: none !important;
    break-inside: auto !important;
    /* Allow breaking inside list items */
    overflow: visible;
    /* Ensure content is not clipped */
    position: relative;
}

.inventory-list>li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    /* Thickness of the simulated border */
    background: var(--white-to-primary-gradient-horizontal);
    /* Apply the gradient */
}

.item-metadata>p {
    margin: 0;
    padding: 0;
}

.inventory-list h4 {
    color: black !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
}

.inventory-item {}

.item-content {
    display: block;
    /* Ensure content is treated as a block */
    font-size: 0.8rem !important;
    padding-left: 1rem;
}

.item-metadata {
    display: block;
    align-self: end;
    text-align: right;
    font-size: 0.6rem !important;
    color: #000;
    padding-bottom: 1rem !important;
}

/* Styling table of content */

ul.table-of-content {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1rem !important;

}

ul.table-of-content>li>a {
    width: 100%;
    display: block;
    font-weight: var(--title-font-weight);
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 0.75rem !important;
    margin-bottom: 0.75rem !important;

    /* Simulate border with background */
    position: relative;
    /* Required for the pseudo-element */
}

ul.table-of-content>li>a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    /* Thickness of the simulated border */
    background: var(--primary-gradient-horizontal);
    /* Apply the gradient */
}

ul.table-of-content li ul li a {
    width: 100%;
    display: block;
    font-weight: 300;
    color: black;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0.5rem !important;
    border-bottom: none !important;

}
