/* importing the main content CSS file for the CRA inventory items */
@import url("./assets/style.css");

@page {
    size: calc(var(--page-width) + 2 * var(--page-bleed)) calc(var(--page-height) + 2 * var(--page-bleed)) !important;
    margin: var(--page-margin-top) var(--page-margin-left) var(--page-margin-top) var(--page-margin-left) !important;
}

/* Styling the metadata container for CRA inventory items */
.inventory-list {
    color: black !important;
    font-size: 0.75rem !important;
}

.inventory-list>li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: none !important;
    position: relative;
}

.item-metadata {
    break-inside: avoid;
    padding-left: 1rem;
    margin: 1rem 0 1rem 0;

}

.item-metadata>p {
    margin: 0;
    padding: 0;
}

.inventory-list h4 {
    color: black !important;
    font-size: 1rem !important;
}

.inventory-item {
    font-size: 0.75rem !important;
}

.item-content {
    display: flex;
}

.item-url {
    word-break: break-all;
}

/* Styling table of content */

ul.table-of-content {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1rem !important;

}

ul.table-of-content>li>a {
    width: 100%;
    display: block;
    font-weight: var(--title-font-weight);
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 0.75rem !important;
    margin-bottom: 0.75rem !important;

    /* Simulate border with background */
    position: relative;
    /* Required for the pseudo-element */
}

ul.table-of-content>li>a::after,
.inventory-list>li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    /* Thickness of the simulated border */
    background: var(--primary-gradient-horizontal);
    /* Apply the gradient */
}

ul.table-of-content li ul li a {
    width: 100%;
    display: block;
    font-weight: 300;
    color: black;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0.5rem !important;
    border-bottom: none !important;

}
