:root {
    --primary-color-1: #006472;
    --primary-color-2: #1cb1d1;
    --secondary-color-1: #003963;
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-gradient-horizontal: linear-gradient(to right, var(--primary-color-1), var(--primary-color-2));
    --primary-gradient-radial: radial-gradient(circle, var(--primary-color-1), var(--primary-color-2));
    --light-elements-color: #dfdfdf;
}

html {
    box-model: border-box;
    font-size: 20px;
    font-family: Roboto, "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    text-align: left;
    line-height: 1.8;
    font-size: 1rem;
    color: #111;
    margin: 0;
}
