:root {
    --primary-color-1: #006472;
    --primary-color-2: #1cb1d1;
    --secondary-color-1: #003963;
    --text-color: #000000;
    --primary-gradient-horizontal: linear-gradient(to right, var(--primary-color-1), var(--primary-color-2));
    --primary-gradient-radial: radial-gradient(circle, var(--primary-color-1), var(--primary-color-2));
    --white-to-primary-gradient-horizontal: linear-gradient(to right, white, var(--primary-color-2));
    --light-elements-color: #dfdfdf;
    --page-margin-top: 2cm;
    --page-margin-left: 2cm;
    --page-margin-right: 2cm;
    --page-margin-bottom: 1cm;
    --h1-top-margin: 12cm;
    --title-font-weight: 400;
    --page-height: 297mm;
    --page-width: 210mm;
    --page-bleed: 1mm;
    --main-font: Roboto, "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --legal-font: Garamond, 'Times New Roman', Times, serif;

    box-sizing: border-box !important;
}


* {}

html {
    font-size: 15px !important;
    line-height: 1.6 !important;
    font-family: var(--main-font) !important;
    height: 100%;
    width: 100%;
    padding: 0 !important;
}

body {
    color: #111;
    margin: 0 !important;
    padding: 0 !important;
}

.spacer {
    break-after: page !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: var(--title-font-weight) !important;
    break-after: avoid !important;
    break-inside: avoid !important;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
}


h1 {
    font-size: 3rem !important;
    margin-top: var(--h1-top-margin) !important;
}

h2 {
    margin-top: 0rem !important;
    font-size: 2rem !important;
    margin-bottom: 3rem !important;
    page-break-before: always;
    font-weight: 200 !important;

}

h1+h2 {
    margin-top: 0 !important;
    page-break-before: avoid !important;
}

h3 {
    margin-top: 2rem !important;
    font-size: 1.5rem;
    margin-bottom: 1rem !important;
}

h4 {
    margin: 0 !important;
    font-size: 1.25rem;
}

h4+ul {
    break-inside: avoid !important;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
    text-transform: uppercase;
}

p {
    margin: 1rem 0;
}

blockquote {
    margin: 1rem 0 1.5rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    font-style: italic;
}

ul,
ol {
    margin: 0;
    margin-left: 1.5rem;
    padding: 0 1.5rem 1rem;
}

pre {
    white-space: pre-wrap;
    font-size: 1rem;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
p code,
li code,
pre code {
    background-color: #f8f8f8;
    padding: 0.2rem 0.4rem;
    border: 1px solid #f8f8f8;
    border-radius: 0.25rem;
    font-family: monospace;
    font-size: 1rem;
}

pre code {
    display: block;
    padding: 0.75rem;
}

img {
    max-width: 100%;
    margin: 1.5rem 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    margin: 1rem 0 2rem;
    width: 100%;
    overflow: auto;
}

table th,
table td {
    padding: 0.75rem 1.5rem;
    border: 1px solid gainsboro;
}

table th {
    font-weight: 600;
}

table tr {
    background-color: white;
    border-top: 1px solid gainsboro;
}

table tr:nth-child(2n) {
    background-color: whitesmoke;
}

a {
    color: var(--primary-color-1);
    text-decoration: none;

}

ul,
li {
    list-style: none;
    margin-left: 0;
}

ol,
ol li {
    list-style: upper-roman !important;
}

/* Styles for the blockquotes from legal documents */

blockquote {
    font-family: var(--legal-font);
    font-style: normal;
    margin: 2rem 0 !important;
    line-height: 1.2;
    font-size: 1rem;
}

/* Callout styles - all callouts get callout class and the corresponding class
    note, tip, important, warning, caution  */

blockquote.callout {
    font-family: var(--main-font);
    background-color: transparent !important;
    color: black !important;
    border: 2px solid var(--primary-color-2) !important;
    border-radius: 1rem !important;
}

.callout.note {}
