/* importing the main content CSS file for the CRA inventory items */
@import url("./assets/style.css");

html {
    color: white;
    background: radial-gradient(circle at top left, var(--primary-color-1), var(--primary-color-2));
    background-size: cover;
    /* Ensures the gradient covers the entire page */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

body {
    color: white;
    margin: 1cm 2cm;
}

/* Setting page margins for printing */
@page {
    margin: 0
}
