/* importing the main content CSS file for the CRA inventory items */
@import url("./assets/style.css");

@page {
    size: calc(var(--page-width) + 2 * var(--page-bleed)) calc(var(--page-height) + 2 * var(--page-bleed)) !important;
    margin: 0 !important;
}

html {
    padding: var(--page-margin-top) var(--page-margin-left) var(--page-margin-top) var(--page-margin-left) !important;
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at top left, var(--primary-color-1), var(--primary-color-2));
    background-repeat: repeat;
    background-size: cover;
    /* Stretch to cover the entire page */
}


h1 {
    color: white !important;
}

h2 {
    display: none;
}
